.add-goods {
  margin-bottom: 54px;
}

.add-goods__title {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: var(--inner-title-size);
  line-height: 24px;
  padding: 0;
  margin: 0;
  margin-bottom: 49px;
}

.add-table__title {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.add-table__cell {
  font-weight: 400;
  font-size: var(--description-size);
  line-height: 14px;
  color: var(--description-color);
  margin-bottom: 15px;
}
