.address {
  line-height: 20px;
  font-style: normal;

  @media (--not-small-vp) {
    font-size: var(--description-size-large);
    max-width: 160px;
    text-align: right;
    margin-left: auto;
  }

  @media (--wide-vp) {
    grid-column: 2 / 3;
    text-align: left;
    padding: 56px 80px 56px 0;
  }
}

.address__street {
  @media (--not-small-vp) {
    display: block;
    margin-bottom: 18px;
  }

  @media (--wide-vp) {
    margin-bottom: 20px;
  }
}
