.button {
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--action-color);
  background-color: var(--main-bg-color);
  width: fit-content;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: none;
  padding: 10px 0;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgb(255, 255, 255, 0.3);
  }

  &--show-all_color {
    color: var(--main-text-color);
    background-color: var(--accent-bg-color);

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      color: rgb(68, 68, 68, 0.3);
    }
  }
}
