.button {
  font-family: var(--accent-font);
  width: fit-content;

  &--size_wide {
    width: 100%;
  }

  color: #ffffff;
  background-color: var(--background-color);
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  padding: 0;
  margin: 0;
}
