.catalog__table {
  display: grid;
  margin-bottom: 50px;

  @media (--middle-vp) {
    margin-bottom: 68px;
  }

  @media (--wide-vp) {
    margin-bottom: 76px;
  }
}

.catalog__img {
  @media (--not-small-vp) {
    &--hen_500 {
      width: 161px;
      height: 172px;
    }

    &--hen_1000 {
      width: 168px;
      height: 206px;
    }
  }

  @media (--wide-vp) {
    &--hen_1000 {
      width: 172px;
      height: 202px;
    }
  }
}

.catalog__button {
  display: block;
  width: 100%;
  margin-top: auto;
}
