.comment__chapter {
  margin-bottom: 19px;

  @media (--middle-vp) {
    margin-bottom: 61px;
  }

  @media (--wide-vp) {
    margin-bottom: 64px;
  }
}

.comment__legend {
  display: inline-block;

  @media (--small-vp) {
    margin-bottom: 38px;
  }

  @media (--not-small-vp) {
    margin-bottom: 76px;
  }

  &::after {
    @media (--small-vp) {
      top: 15px;
      transform: translateX(22px);
    }

    @media (--middle-vp) {
      transform: translateX(38px);
    }
  }
}

.comment__text {
  min-height: 150px;
  padding: 8px 5px;
  resize: vertical;

  @media (--not-small-vp) {
    min-height: 174px;
    padding: 16px 18px 6px;
  }

  &::placeholder {
    text-align: center;

    @media (--not-small-vp) {
      text-align: left;
    }
  }
}
