.contacts-list {
  @media (--wide-vp) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 80px;
  }
}

.contacts-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (--middle-vp) {
    margin-bottom: 20px;
  }

  @media (--wide-vp) {
    margin-bottom: 0;
  }
}

.contacts-list__label {
  margin-right: 14px;
}

.contacts-list__input {
  border-color: #cdcdcd;

  @media (--wide-vp) {
    padding: 10px 19px;
  }
}
