.contacts-list {
  @media (--wide-vp) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 80px;
  }
}

.contacts-list__item {
  display: flex;
}

.contacts-list__item:not(:last-child) {
  margin-bottom: 14px;
}

.contacts-list__label {
  margin-right: 14px;
}
