.contacts-list {
  @media (--wide-vp) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 80px;
  }
}

.contacts-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  @media (--middle-vp) {
    margin-bottom: 20px;
  }

  @media (--wide-vp) {
    margin-bottom: 0;
  }
}

.contacts-list__input:focus ~ .contacts-list__icon::before {
  background-color: var(--main-bg-color);
}

.contacts-list__label {
  margin-right: 14px;
}

.contacts-list__input {
  padding-right: 38px;
  border-color: var(--border-color);

  @media (--wide-vp) {
    padding: 10px 19px;
  }

  &:user-invalid {
    outline: 2px solid #ff8282;
    outline-offset: -2px;
  }

  @supports not selector(:user-invalid) {
    &--error:required {
      outline: 2px solid #ff8282;
      outline-offset: -2px;
    }
  }
}

.contacts-list__icon--icon_letter::before {
  content: "";
  position: absolute;
  top: 16px;
  right: 15px;
  width: 20px;
  height: 15px;
  background-color: var(--additional-text-color);
  mask: url("../../icons/sprite.svg#letter") no-repeat center;
}


.contacts-list__icon--icon_phone::before {
  content: "";
  position: absolute;
  top: 14px;
  right: 14px;
  width: 20px;
  height: 15px;
  background-color: var(--additional-text-color);
  mask: url("../../icons/sprite.svg#phone") no-repeat center;
}

.contacts-list__icon--icon_phone:focus::before {
  background-color: var(--main-bg-color);
}

.contacts-list__icon--icon_phone:user-invalid::before {
  background-color: #ff8282;

  @supports not selector(:user-invalid) {
    &--error:required {
      background-color: #ff8282;
    }
  }
}
