.effect {
  --display: 0;
  --scale-width: 71px;
  --thumb-width: 36px;

  @media (--not-small-vp) {
    --display: 0.5;
    padding-bottom: 50px;
  }

  @media (--wide-vp) {
    margin-top: -40px;
  }
}

.effect__photos {
  display: grid;
  grid-template-columns: calc(100% * (1 - var(--display))) calc(100% * var(--display));
  width: 100%;
  max-width: 280px;
  margin: 0 auto;

  @media (--not-small-vp) {
    max-width: 592px;
  }
}

.effect__photos-wrapper {
  grid-column: 1/2;

  &--after {
    grid-column: 2/3;
  }
}

.effect__photo {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 232px;

  @media (--not-small-vp) {
    height: 511px;
    margin-bottom: 25px;
  }

  &--before {
    object-position: left;
  }

  &--after {
    object-position: right;
  }
}

.effect__slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.effect__range-scale {
  width: var(--scale-width);
  height: 6px;
  border: 1px solid var(--border-color);
  background-color: var(--action-color);
  border-radius: 6px;
  margin: 0 9px;
  padding: 3px 6px;

  @media (--not-small-vp) {
    --scale-width: 426px;
    background-color: #dcdcdc;
    border: none;
    padding: 0;
  }
}

.effect__range-thumb {
  width: var(--thumb-width);
  height: 6px;
  background-color: var(--main-bg-color);
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  margin-left: calc(var(--display) * (var(--scale-width) - var(--thumb-width)));

  @media (--not-small-vp) {
    --thumb-width: 32px;
    margin-top: -13px;
    height: 32px;
    background-color: var(--action-color);
    border-radius: 50%;
    border: 1px solid var(--border-color);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;
    padding: 0;
    transform: translateX(-50%);
  }

  &:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
  }

  &:active {
    border-color: var(--main-bg-color);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  }

  &::after {
    @media (--not-small-vp) {
      content: "";
      position: absolute;
      top: 11px;
      left: 11px;
      width: 8px;
      height: 8px;
      background-color: var(--main-bg-color);
      border-radius: 50%;
    }
  }
}

.effect__button {
  color: var(--accent-text-color);
  padding: 10px;
  background-color: transparent;
  text-decoration: underline dotted rgba(0, 0, 0, 0.4);
  text-underline-offset: 5px;

  @media (--not-small-vp) {
    font-size: 20px;
    line-height: 30px;
  }

  &:hover {
    background-color: transparent;
    text-decoration-style: solid;
  }

  &:active {
    color: var(--accent-text-color);
    background-color: transparent;
    text-decoration: none;
  }
}
