.effect__photos {
  margin: 0;
}

.effect__photo {
  display: block;
  margin: 0 auto;

  @media (--not-small-vp) {
    width: 592px;
    height: 511px;
  }
}

.effect__button {
  color: var(--accent-text-color);
  background-color: transparent;

  @media (--not-small-vp) {
    font-size: 20px;
    line-height: 30px;
  }
}
