.example {
  background-color: #eaeaea;
}

.example__chapter {
  padding: 25px 0 40px;
}

.example__title {
  font-size: var(--title-size);
  line-height: 40px;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.example__description {
  margin: 0;
  margin-bottom: 20px;
}

.example__list {
  margin: 0;
}
