.extra-list {
  @media (--not-small-vp) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 60px;
  }

  @media (--wide-vp) {
    grid-template-columns: repeat(4, 1fr);
    gap: 0 80px;
  }
}

.extra-list__item {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (--not-small-vp) {
    margin-bottom: 0;
  }
}

.extra-list__label {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 16px;
  color: var(--accent-text-color);

  @media (--not-small-vp) {
    gap: 0 19px;
  }

  &:disabled {
    color: rgb(186, 186, 186, 0.3);
  }
}

.extra-list__input {
  appearance: none;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 1px solid var(--border-color);
  transform: translateY(-18%);
  display: grid;
  place-content: center;
  margin: 0;

  @media (--not-small-vp) {
    width: 40px;
    height: 40px;
  }

  &:hover {
    border-color: #bababa;
  }

  &:disabled {
    border-color: rgb(186, 186, 186, 0.3);
  }
}

.extra-list__input:disabled + .extra-list__span {
  color: rgb(186, 186, 186, 0.3);
}

.extra-list__input::before {
  content: "";
  width: 26px;
  height: 26px;
  transform: scale(0);
  background: url("../../icons/sprite.svg#mark") no-repeat;
}

.extra-list__input:checked::before {
  transform: scale(1);
}

.extra-list__input:disabled::before {
  opacity: 0.3;
}
