.extra-list {
  @media (--not-small-vp) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 60px;
  }

  @media (--wide-vp) {
    grid-template-columns: repeat(4, 1fr);
    gap: 0 80px;
  }
}

.extra-list__item {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (--not-small-vp) {
    margin-bottom: 0;
  }
}

.extra-list__label {
  color: var(--accent-text-color);
  padding-left: 39px;

  @media (--not-small-vp) {
    display: block;
    padding: 5px 1px 5px 59px;
  }
}
