.extra-list {
  @media (--not-small-vp) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 60px;
  }

  @media (--wide-vp) {
    grid-template-columns: repeat(4, 1fr);
    gap: 0 80px;
  }
}

.extra-list__item:not(:last-child) {
  margin-bottom: 12px;
}

.extra-list__label {
  color: var(--accent-text-color);

  @media (--not-small-vp) {
    font-size: 20px;
    line-height: 30px;
  }
}
