.field {
  border: none;
}

.field__contacts-legend {
  padding: 0;
  margin-bottom: 35px;
  position: relative;

  @media (--not-small-vp) {
    margin-bottom: 76px;
  }

  &::after {
    @media (--small-vp) {
      top: 16px;
      transform: translateX(20px);
    }

    @media (--middle-vp) {
      transform: translateX(42px);
    }
  }
}

.field__extra-legend {
  padding: 0;
  margin-bottom: 39px;
  position: relative;

  @media (--not-small-vp) {
    margin-bottom: 64px;
  }

  @media (--wide-vp) {
    margin-bottom: 60px;
  }

  &::after {
    @media (--small-vp) {
      top: 15px;
      transform: translateX(23px);
    }

    @media (--middle-vp) {
      transform: translateX(41px);
    }
  }
}
