.footer {
  background-color: var(--accent-bg-color);

  &--location_bg {
    --bg-color: var(--action-color);
  }
}

.footer__location {
  background-color: var(--bg-color, var(--accent-bg-color));
}

.footer-info {
  padding: 39px 0 22px;

  @media (--not-small-vp) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 58px 0 55px;
  }
}

.footer-info__logo-text {
  display: block;

  @media (--small-vp) {
    margin: 0 auto 53px;
  }

  @media (--not-small-vp) {
    padding-top: 6px;
  }

  &:hover {
    fill-opacity: 0.8;
  }

  &:active {
    fill-opacity: 0.6;
  }
}

.footer__link {
  color: var(--main-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

  @media (--not-small-vp) {
    justify-content: flex-end;
  }
}

.footer__link:active {
  opacity: 0.3;
}

.footer__link--icon_htmlacademy::after {
  content: "";
  width: 27px;
  height: 34px;
  background-color: #666666;
  mask: url("../../icons/sprite.svg#htmlacademy") no-repeat center / cover;
}

.footer__link--icon_htmlacademy:hover::after {
  background-color: var(--main-bg-color);
}
