.form__general-info {
  margin-bottom: 50px;
}

.form-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.general-list__item:not(:last-child) {
  margin-bottom: 12px;
}

.general-list__label {
  margin-right: 13px;
}

.form__choice {
  margin-bottom: 45px;
}

.choice-list__item:not(:last-child) {
  margin-bottom: 12px;
}

.choice-list__label {
  color: var(--additional-text-color);
}

.extra-list__item:not(:last-child) {
  margin-bottom: 12px;
}

.extra-list__label {
  color: var(--accent-text-color);
}

.form__contacts {
  margin-bottom: 23px;
}

.contacts-legend {
  margin-bottom: 35px;
}

.contacts-list__item:not(:last-child) {
  margin-bottom: 14px;
}

.form__extra {
  margin-bottom: 34px;
}

.extra-legend {
  margin-bottom: 34px;
}

.form__button {
  margin-bottom: 21px;
}
