.field {
  padding: 0;
  margin: 0;
  border: none;
}

.form__general-info {
  margin-bottom: 60px;
}

.form-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.general-list__item:not(:last-child),
.choice-list__item:not(:last-child),
.extra-list__item:not(:last-child) {
  margin-bottom: 12px;
}

.label,
.general-list__input::placeholder,
.contacts-list__input::placeholder,
.comment__text::placeholder {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--description-color);
  text-transform: uppercase;
}

.general-list__label {
  margin-right: 13px;
}

.form__choice {
  margin-bottom: 45px;
}

.choice-list__label,
.extra-list__label {
  color: #222222;
}

.form__contacts,
.comment {
  margin-bottom: 23px;
}

.legend {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: var(--inner-title-size);
  line-height: 26px;
  display: block;
}

.contacts-legend {
  margin-bottom: 35px;
}

.contacts-list__item:not(:last-child) {
  margin-bottom: 14px;
}

.comment-legend {
  margin-bottom: 38px;
}

.form__extra,
.extra-legend {
  margin-bottom: 34px;
}

.form__button {
  margin-bottom: 21px;
}

.questionnaire__footnote {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 32px;
}
