.general-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (--not-small-vp) {
    margin-bottom: 20px;
  }
}

.general-list__label {
  margin-right: 13px;

  @media (--not-small-vp) {
    margin-right: 16px;
  }
}

.general-list__input:invalid {
  border-color: #ff8282;
}
