.general-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (--not-small-vp) {
    margin-bottom: 20px;
  }
}

.general-list__label {
  margin-right: 13px;

  @media (--not-small-vp) {
    margin-right: 16px;
  }
}

.general-list__input {
  &:user-invalid {
    outline: 2px solid #ff8282;
    outline-offset: -2px;
  }

  @supports not selector(:user-invalid) {
    &--error:required {
      outline: 2px solid #ff8282;
      outline-offset: -2px;
    }
  }
}
