.general-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;

  @media (--not-small-vp) {
    margin-bottom: 19px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.general-list__label {
  margin-right: 14px;

  @media (--not-small-vp) {
    margin-right: 19px;
  }
}

.general-list__input {
  padding: 13px 13px 12px 16px;

  @media (--not-small-vp) {
    padding: 13px 13px 7px 19px;
  }

  &:user-invalid {
    outline: 2px solid #ff8282;
    outline-offset: -2px;
  }

  @supports not selector(:user-invalid) {
    &--error:required {
      outline: 2px solid #ff8282;
      outline-offset: -2px;
    }
  }

  &--name {
    padding: 13px 13px 12px 13px;

    @media (--not-small-vp) {
      padding: 15px 13px 7px 13px;
    }

    @media (--wide-vp) {
      padding-top: 13px;
    }
  }
}
