.header__chapter {
  margin-bottom: 17px;

  @media (--middle-vp) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 65px;
  }

  @media (--wide-vp) {
    margin-bottom: 74px;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header-logo__name {
  @media (--small-vp) {
    padding-top: 6px;
    margin: 0 auto;
  }
}
