.header {
  @media (--wide-vp) {
    padding-top: 46px;
  }
}

.header__wrapper {
  padding-top: 11px;
  margin-bottom: 16px;

  @media (--not-small-vp) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 17px;
    margin-bottom: 54px;
  }

  @media (--wide-vp) {
    padding-top: 0;
    margin-bottom: 101px;
  }
}
