.input {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 16px;
  color: var(--main-text-color);
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;
  appearance: textfield;

  @media (--not-small-vp) {
    font-size: 20px;
    line-height: 30px;
  }

  &:hover {
    border-color: var(--border-color);
  }

  &:focus {
    outline: 2px solid var(--main-text-color);
    outline-offset: -2px;
  }

  &::placeholder {
    display: block;
    font-family: var(--accent-font);
    line-height: 18px;
    color: var(--main-text-color);
    text-transform: uppercase;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}
