.legend {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: var(--inner-title-size);
  line-height: 26px;
  color: var(--accent-text-color);
  display: block;

  @media (--not-small-vp) {
    font-size: var(--title-size);
    line-height: 36px;
  }
}
