.legend {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: var(--inner-title-size);
  line-height: 26px;
  color: var(--accent-text-color);
  display: block;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 100%;
    width: 100vw;
    height: 2px;
    background-color: var(--main-bg-color);
    z-index: -1;

    @media (--not-small-vp) {
      top: 23px;
    }

    @media (--wide-vp) {
      transform: translateX(40px);
    }
  }

  @media (--not-small-vp) {
    font-size: var(--title-size);
    line-height: 1;

    &::before {
      content: "";
      position: absolute;
      top: 23px;
      right: 100%;
      width: 100vw;
      height: 2px;
      background-color: var(--main-bg-color);
      transform: translateX(-40px);
      z-index: -1;
    }
  }
}
