.main-nav {
  width: auto;

  &--color_reshuffle {
    @media (--wide-vp) {
      --reshuffle-color: var(--action-color);
    }
  }
}

.main-nav__toggle {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  z-index: 2;
  background: var(--icon_menu) no-repeat;
  padding: 0;
  cursor: pointer;
  border: none;

  @media (--not-small-vp) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle {
  --icon_menu: url("../../icons/sprite.svg#burger");
}

.main-nav--opened .main-nav__toggle {
  --icon_menu: url("../../icons/sprite.svg#cross");
}

@media (--small-vp) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 65px;
    right: 0;
    left: 0;
    z-index: 3;
    min-height: 50vh;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    padding-top: 65px;
  }
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: var(--action-color);

  @media (--not-small-vp) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: transparent;
  }
}

.main-nav__item {
  @media (--small-vp) {
    border-top: 1px solid #e6e6e6;

    &:last-child {
      border-bottom: 1px solid #e6e6e6;
    }
  }

  @media (--not-small-vp) {
    margin-right: 38px;

    &:first-child {
      margin-right: 33px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @media (--wide-vp) {
    margin-right: 33px;

    &:first-child {
      margin-right: 36px;
    }
  }
}

.main-nav__link {
  font-family: var(--accent-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: var(--reshuffle-color, var(--accent-text-color));
  position: relative;
  display: block;
  padding: 25px 0 21px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  &:hover {
    color: rgb(0, 0, 0, 0.6);
  }

  @media (--not-small-vp) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (--wide-vp) {
    font-size: 20px;
    line-height: 30px;
  }
}
