.main-nav {
  width: auto;

  &--closed {
    --icon-menu: url("../../icons/sprite.svg#burger");
    --nav-display: none;
  }

  &--opened {
    --icon-menu: url("../../icons/sprite.svg#cross");
  }

  &--nojs {
    --visibility-toggle: hidden;
    --nav-position: static;
  }

  &--color_reshuffle {
    @media (--wide-vp) {
      --link-lightness: 100%;
      --underline-color: currentColor;
    }
  }
}

.main-nav__toggle {
  position: absolute;
  z-index: 4;
  top: 20px;
  right: 20px;
  border: none;
  background: initial;
  padding: 0;
  visibility: var(--visibility-toggle, visible);

  @media (--not-small-vp) {
    --visibility-toggle: hidden;
  }

  &:hover {
    --icon-opacity: 0.6;
  }

  &:active {
    --icon-opacity: 0.3;
  }

  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: var(--icon-menu) no-repeat;
    opacity: var(--icon-opacity, 1);
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: var(--nav-display, revert);
  background-color: var(--action-color);

  @media (--small-vp) {
    position: var(--nav-position, absolute);
    top: 48px;
    right: 0;
    left: 0;
    z-index: 3;
    padding-top: 17px;
  }

  @media (--not-small-vp) {
    --nav-display: flex;

    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: transparent;
  }
}

.main-nav__item {
  @media (--small-vp) {
    border-top: 1px solid #e6e6e6;
  }

  @media (--not-small-vp) {
    margin-right: 38px;
  }

  @media (--wide-vp) {
    margin-right: 33px;
  }

  &:first-child {
    @media (--not-small-vp) {
      margin-right: 33px;
    }

    @media (--wide-vp) {
      margin-right: 36px;
    }
  }

  &:last-child {
    @media (--small-vp) {
      border-bottom: 1px solid #e6e6e6;
    }

    @media (--not-small-vp) {
      margin-right: 0;
    }
  }
}

.main-nav__link {
  position: relative;
  display: block;
  padding: 25px 0 21px;
  line-height: 1;
  font-size: 20px;
  font-weight: 500;
  font-family: var(--accent-font);
  color: hsl(0deg 0% var(--link-lightness, 0%) / var(--link-alpha, 1));
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  @media (--not-small-vp) {
    line-height: 24px;
    font-size: 18px;
    font-weight: 400;
  }

  @media (--wide-vp) {
    line-height: 30px;
    font-size: 20px;
  }

  &:hover {
    --link-alpha: 0.6;
  }

  &:active {
    --link-alpha: 0.3;
  }

  &[aria-current="page"] {
    text-decoration: underline 2px var(--underline-color, var(--main-bg-color));
    text-underline-offset: 11px;
  }
}
