.map {
  display: grid;
}

.map__static {
  grid-area: 1 / 1 / 2 / 2;
}

.map__interactive {
  grid-area: 1 / 1 / 2 / 2;
  border: none;
  width: 100%;

  @media (--not-small-vp) {
    height: 400px;
  }
}

.map__coordinates {
  position: relative;

  &::after {
    --url-map-mark: url("../../img/map-mark@1x.png");

    position: absolute;
    content: "";
    width: 57px;
    height: 53px;
    top: 138px;
    left: 114px;
    background: var(--url-map-mark) no-repeat;
    background-size: cover;

    @media (--x2) {
      --url-map-mark: url("../../img/map-mark@2x.png");
    }

    @media (--not-small-vp) {
      width: 113px;
      height: 104px;
      top: 145px;
      left: 303px;
    }

    @media (--wide-vp) {
      top: 131px;
      left: 798px;
    }
  }
}

.map__img {
  display: block;
  width: 280px;
  height: 362px;
  position: relative;

  @media (--not-small-vp) {
    width: 708px;
    height: 400px;
  }

  @media (--wide-vp) {
    width: 1220px;
  }
}
