.offer {
  height: 100%;
  background:
    linear-gradient(
    rgba(104, 183, 56, 0.85) 0% 63%,
    #ffffff 63% 100%
    ),
    url("../../img/main_bg.jpg") no-repeat;
}

.offer__chapter {
  margin-bottom: 20px;
}

.offer__title {
  font-size: var(--title-size);
  line-height: 36px;
  color: var(--action-color);
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.offer__text {
  font-family: var(--accent-font);
  line-height: 14px;
  color: var(--action-color);
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 49px;
}

.offer__button {
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  margin: 0;
}
