.offer {
  --url-cat-s: url("../../img/main-bg-s@1x.jpg");
  --url-cat-l: url("../../img/main-bg-l@1x.jpg");
  --url-box-s: url("../../img/catenergy-box-s@1x.png");
  --url-box-m: url("../../img/catenergy-box-m@1x.png");
  --url-box-l: url("../../img/catenergy-box-l@1x.png");

  position: relative;

  @media (--middle-vp) {
    background: var(--action-color);
    padding-left: 87px;
  }

  @media (--wide-vp) {
    position: static;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 80px;
    background: none;
  }
}

.offer::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  min-height: 302px;
  z-index: -1;
  background:
    linear-gradient(
    rgba(104, 183, 56, 0.85),
    rgba(104, 183, 56, 0.85)),
    #4f4e53 var(--url-cat-s) no-repeat center;

  @media (--x2) {
    --url-cat-s: url("../../img/main-bg-s@2x.jpg");
    background-size: 320px auto;
  }

  @media (--middle-vp) {
    background: none;
  }

  @media (--wide-vp) {
    --url-cat-s: url("../../img/main-bg-l@1x.jpg");
    min-height: 694px;
    background-position: top 0 left -20px;
    left: 50%;
  }

  @media (--x2) {
    --url-cat-l: url("../../img/main-bg-l@2x.jpg");
    background-size: 1044px auto;
  }
}

.offer::after {
  position: absolute;
  content: "";
  top: 167px;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
  height: 270px;
  background: var(--url-box-s) no-repeat;
  background-size: contain;

  @media (--x2) {
    --url-box-s: url("../../img/catenergy-box-s@2x.png");
  }

  @media (--middle-vp) {
    top: 255px;
    width: 709px;
    height: 609px;
    background: var(--url-box-m) no-repeat;
    background-size: cover;

    @media (--x2) {
      --url-box-m: url("../../img/catenergy-box-m@2x.png");
    }
  }

  @media (--wide-vp) {
    position: relative;
    transform: translateX(-162px);
    width: 552px;
    height: 499px;
    top: -82px;
    left: -205px;
    background: var(--url-box-l) no-repeat;
    background-size: cover;
  }

  @media (--x2) {
    --url-box-l: url("../../img/catenergy-box-l@2x.png");
  }
}

.offer__chapter {
  display: flex;
  flex-direction: column;
  min-height: 480px;
  margin-bottom: 20px;

  @media (--middle-vp) {
    min-height: 920px;
    order: 2;
    margin-bottom: 0;
  }

  @media (--wide-vp) {
    padding-left: 80px;
    min-height: 471px;
    margin-bottom: 82px;
  }
}

.offer__title {
  font-size: var(--title-size);
  line-height: 36px;
  color: var(--action-color);
  text-align: center;
  padding: 27px 0 0 0;
  margin: 0 0 25px 0;

  @media (--not-small-vp) {
    font-size: var(--title-big-size);
    line-height: 1;
    color: var(--accent-text-color);
    text-align: left;
    padding-top: 63px;
    margin-bottom: 41px;
  }

  @media (--wide-vp) {
    padding-top: 0;
    margin-bottom: 38px;
  }
}

.offer__text {
  font-family: var(--accent-font);
  line-height: 1;
  color: var(--action-color);
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin: 0 0 49px 0;

  @media (--not-small-vp) {
    font-size: 20px;
    line-height: 1;
    color: var(--accent-text-color);
    text-align: left;
  }

  @media (--wide-vp) {
    margin: 0 0 54px;
  }
}

.offer__button {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  min-width: 100%;
  padding: 11px 0;
  margin-top: auto;
  z-index: 1;

  @media (--not-small-vp) {
    font-size: 20px;
    min-width: 244px;
    padding: 14px 0;
    margin: 0;
  }
}
