.offer {
  min-height: 480px;
  background:
    linear-gradient(
    rgba(104, 183, 56, 0.85) 63%,
    var(--action-color) 63%
    ),
    #444348 url("../../img/main-bg-s@1x.jpg") no-repeat top;
  background-size: contain;
  position: relative;

  @media (min-resolution: 2dppx) {
    background:
      linear-gradient(
      rgba(104, 183, 56, 0.85) 63%,
      var(--action-color) 63%
      ),
      #444348 url("../../img/main-bg-s@2x.jpg") no-repeat top;
    background-size: 320px auto;
  }

  @media (--middle-vp) {
    background: var(--action-color);
    padding-left: 87px;
  }

  @media (--wide-vp) {
    position: static;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 80px;
    background: none;
  }
}

.offer::before {
  position: absolute;
  content: "";
  background:
    linear-gradient(
    rgba(104, 183, 56, 0.85),
    rgba(104, 183, 56, 0.85)),
    #4f4f54 url("../../img/main_bg.jpg") no-repeat top;
  background-size: contain;

  @media (--middle-vp) {
    display: none;
  }

  @media (--wide-vp) {
    top: 0;
    right: 0;
    min-height: 694px;
    background:
      linear-gradient(
      rgba(104, 183, 56, 0.85),
      rgba(104, 183, 56, 0.85)),
      #4f4e53 url("../../img/main_bg.jpg") no-repeat;
    background-size: contain;
    background-position: top 0 left 180px;
    left: 50%;
    z-index: -1;
  }
}

.offer::after {
  position: absolute;
  content: "";
  top: 167px;
  left: 50%;
  transform: translateX(-50%);
  width: 270px;
  height: 280px;
  background: url("../../img/catenergy_box.png") no-repeat;
  background-size: contain;

  @media (--middle-vp) {
    top: 255px;
    width: 709px;
    height: 675px;
    background-size: cover;
  }

  @media (--wide-vp) {
    position: relative;
    transform: translateX(0);
    width: 552px;
    height: 499px;
    top: 40px;
    left: -205px;
    background-size: cover;
  }
}

.offer__chapter {
  display: flex;
  flex-direction: column;
  min-height: 480px;
  margin-bottom: 20px;

  @media (--middle-vp) {
    min-height: 920px;
    order: 2;
    margin-bottom: 0;
  }

  @media (--wide-vp) {
    min-height: 553px;
    margin-bottom: 80px;
  }
}

.offer__title {
  font-size: var(--title-size);
  line-height: 36px;
  color: var(--action-color);
  text-align: center;
  padding: 27px 0 0 0;
  margin: 0 0 25px 0;

  @media (--not-small-vp) {
    font-size: var(--title-big-size);
    line-height: 1;
    color: var(--accent-text-color);
    text-align: left;
    padding-top: 63px;
    margin-bottom: 41px;
  }

  @media (--wide-vp) {
    padding-top: 111px;
    margin-bottom: 38px;
  }
}

.offer__text {
  font-family: var(--accent-font);
  line-height: 1;
  color: var(--action-color);
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin: 0 0 49px 0;

  @media (--not-small-vp) {
    font-size: 20px;
    line-height: 1;
    color: var(--accent-text-color);
    text-align: left;
  }

  @media (--wide-vp) {
    margin: 0 0 54px;
  }
}

.offer__button {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  min-width: 100%;
  padding: 11px 0;
  margin-top: auto;
  z-index: 1;

  @media (--not-small-vp) {
    font-size: 20px;
    min-width: 244px;
    padding: 14px 0;
    margin: 0;
  }
}
