.options__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (--middle-vp) {
    margin-bottom: 45px;
  }

  @media (--wide-vp) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 80px;
    margin-bottom: 71px;
  }
}

.options__item {
  padding: 21px 33px 18px 19px;
  background-color: var(--accent-bg-color);
  margin-bottom: 20px;

  @media (--middle-vp) {
    padding: 77px 62px 57px 52px;
    margin-bottom: 30px;
  }

  @media (--wide-vp) {
    padding: 77px 51px 55px 52px;

    &--icon_tiger {
      padding-right: 61px;
    }
  }
}

.options__title {
  font-size: var(--inner-title-size);
  line-height: 37px;
  text-transform: uppercase;
  position: relative;
  padding: 0 0 0 70px;
  margin: 0;
  margin-bottom: 29px;

  @media (--not-small-vp) {
    font-size: var(--title-size);
    line-height: 1;
    padding: 0;
    margin-bottom: 24px;
  }

  @media (--wide-vp) {
    padding-left: 162px;
    margin-bottom: 74px;
  }
}

.options__title--has_icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 32px;
}

.options__title--icon_slimming::before {
  background: url("../../icons/slimming-s.svg") no-repeat;
}

.options__title--icon_tiger::before {
  background: url("../../icons/tiger-s.svg") no-repeat;
}

.options__description {
  padding: 0;
  margin: 0;
  margin-bottom: 38px;
  position: relative;

  @media (--small-vp) {
    &::after {
      content: "";
      position: absolute;
      bottom: -23px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #d9d9d9;
    }
  }

  @media (--not-small-vp) {
    font-size: var(--description-size-large);
    line-height: 24px;
    color: var(--accent-text-color);
    max-width: 340px;
    margin-bottom: 52px;
  }

  @media (--wide-vp) {
    max-width: 100%;
    margin-bottom: 23px;
  }
}

.options__link {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  position: relative;
  color: var(--additional-text-color);
  text-transform: uppercase;
  text-decoration: none;

  &--icon_arrow::before {
    content: "";
    width: 32px;
    height: 12px;
    top: 0;
    right: 0;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
    mask-image: url("../../icons/arrow.svg");
  }

  @media (--not-small-vp) {
    font-size: 20px;
    line-height: 30px;
  }
}
