.options__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.options__item {
  padding: 21px 33px 18px 19px;
  background-color: var(--accent-bg-color);
  margin-bottom: 20px;
}

.options__title {
  font-size: var(--inner-title-size);
  line-height: 37px;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.options__description {
  margin-bottom: 38px;
}

.options__link {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--additional-text-color);
  text-transform: uppercase;
  text-decoration: none;
}
