.options__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (--middle-vp) {
    margin-bottom: 45px;
  }

  @media (--wide-vp) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 80px;
    margin-bottom: 71px;
  }
}

.options__item {
  padding: 30px 19px 18px;
  background-color: var(--accent-bg-color);
  margin-bottom: 20px;

  @media (--middle-vp) {
    padding: 77px 62px 56px 52px;
    margin-bottom: 30px;
  }

  @media (--wide-vp) {
    padding: 77px 51px 55px 52px;
  }

  &--icon_tiger {
    @media (--wide-vp) {
      padding-right: 61px;
    }
  }
}

.options__title {
  font-size: var(--inner-title-size);
  line-height: 37px;
  text-transform: uppercase;
  position: relative;
  padding: 0 0 0 72px;
  margin: 0;
  margin-bottom: 29px;

  @media (--not-small-vp) {
    font-size: var(--title-size);
    line-height: 1;
    padding: 0;
    margin-bottom: 25px;
  }

  @media (--wide-vp) {
    padding-left: 162px;
    margin-bottom: 74px;
  }
}

.options__title--has_icon::before {
  content: "";
  position: absolute;
  top: -16px;
  left: -7px;
  width: 70px;
  height: 70px;

  @media (--middle-vp) {
    top: -25px;
    right: -42px;
    left: auto;
    width: 280px;
    height: 280px;
  }

  @media (--wide-vp) {
    top: -50px;
    left: -20px;
    width: 140px;
    height: 140px;
  }
}

.options__title--icon_slimming::before {
  background: url("../../icons/sprite.svg#slimming") no-repeat;
}

.options__title--icon_tiger::before {
  background: url("../../icons/sprite.svg#tiger") no-repeat;
}

.options__description {
  padding: 0;
  margin: 0 0 43px;
  position: relative;

  @media (--not-small-vp) {
    font-size: var(--description-size-large);
    line-height: 24px;
    color: var(--accent-text-color);
    max-width: 340px;
    margin-bottom: 52px;
  }

  @media (--wide-vp) {
    max-width: 100%;
    margin-bottom: 23px;
  }

  &::after {
    @media (--small-vp) {
      content: "";
      position: absolute;
      bottom: -23px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #d9d9d9;
    }
  }
}

.options__link {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: var(--additional-text-color);
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;

  @media (--not-small-vp) {
    font-size: 20px;
    line-height: 30px;
  }

  &:active {
    opacity: 0.3;
  }

  &--icon_arrow::after {
    content: "";
    width: 32px;
    height: 10px;
    margin-left: 17px;
    background: url("../../icons/sprite.svg#arrow") no-repeat center / cover;
    background-position: -8px;

    @media (--not-small-vp) {
      margin-left: 25px;
    }
  }

  &--icon_arrow:hover::after {
    background-position: 0;
    transition: all 0.2s ease-in-out;
  }
}
