.page {
  font-family: var(--main-font);
}

.page__body {
  margin: 0;
  color: var(--main-text-color);
}

.page__centerer {
  margin: 0 20px;

  &--nav-menu_mob-position {
    margin: 0;
  }

  &--form_padding {
    @media (--middle-vp) {
      padding: 0 40px;
    }
  }

  &--nav-menu_position {
    padding-top: 10px;

    @media (--middle-vp) {
      padding-top: 24px;
    }

    @media (--wide-vp) {
      padding-top: 53px;
    }
  }

  &--footer_position {
    display: flex;
    flex-direction: column;
  }

  @media (--middle-vp) {
    margin: 0 30px;
  }

  @media (--wide-vp) {
    margin: 0 auto;
    width: 1220px;
  }
}
