.present {
  background: rgba(104, 183, 56, 0.85) url("../../img/main_bg.jpg") no-repeat center;
}

.present__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 0;
  margin: 0;
}
