.present__chapter {
  min-height: 290px;
  margin-bottom: 35px;
  position: relative;
  background: url("../../icons/sprite.svg#present") no-repeat top 59px center;
  background-size: 78px 80px;

  @media (--middle-vp) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 60px;
    background-position: 79px center;
    min-height: 200px;
    margin-bottom: 76px;
  }

  @media (--wide-vp) {
    background-position: top 57px center;
    min-height: 100%;
    margin-bottom: 0;
  }
}

.present__chapter::before {
  --url-cat-case: url("../../img/cat-case-s@1x.jpg");

  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background:
    linear-gradient(
    rgba(104, 183, 56, 0.85),
    rgba(104, 183, 56, 0.85)),
    var(--url-cat-case) no-repeat center;
  background-size: cover;
  z-index: -1;

  @media (--x2) {
    --url-cat-case: url("../../img/cat-case-s@2x.jpg");
  }

  @media (--middle-vp) {
    --url-cat-case: url("../../img/cat-case-m@1x.jpg");

    @media (--x2) {
      --url-cat-case: url("../../img/cat-case-m@2x.jpg");
    }
  }

  @media (--wide-vp) {
    grid-column: 4 / 5;
    --url-cat-case: url("../../img/cat-case-l@1x.jpg");

    @media (--x2) {
      --url-cat-case: url("../../img/cat-case-l@2x.jpg");
    }
  }
}

.present__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--action-color);
  text-align: center;
  max-width: 161px;
  padding: 187px 0 0;
  margin: 0 auto;

  @media (--middle-vp) {
    grid-column: 2/3;
    text-align: left;
    padding-top: 0;
    margin: auto auto auto 39px;
  }
}
