.process__chapter {
  margin-bottom: 49px;

  @media (--middle-vp) {
    margin-bottom: 147px;
  }

  @media (--wide-vp) {
    margin-bottom: 126px;
  }
}

.process__title {
  font-size: var(--title-size);
  line-height: 40px;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;

  @media (--not-small-vp) {
    font-size: var(--title-big-size);
    line-height: 1;
    margin-bottom: 72px;
  }
}

.process__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (--middle-vp) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 134px 60px;
  }

  @media (--wide-vp) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 80px;
  }
}

.process__item:not(:last-child) {
  margin-bottom: 20px;
}

.process__description {
  min-height: 60px;
  padding-left: 81px;
  margin: 0;
  position: relative;

  @media (--not-small-vp) {
    font-size: var(--description-size-large);
    line-height: 24px;
    padding: 111px 0 0 0;
    max-width: 245px;
  }

  @media (--wide-vp) {
    max-width: 100%;
  }
}

.process__description--icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background: var(--main-bg-color) no-repeat center;
}

.process__description--icon_leaf::before {
  background-image: url("../../icons/sprite.svg#leaf");
  background-size: 31px 32px;
}

.process__description--icon_powder::before {
  background-image: url("../../icons/sprite.svg#powder");
  background-size: 31px 31px;
}

.process__description--icon_tableware::before {
  background-image: url("../../icons/sprite.svg#tableware");
  background-size: 25px 30px;
}

.process__description--icon_alarm::before {
  background-image: url("../../icons/sprite.svg#alarm");
  background-size: 32px 33px;
}

