.process__chapter {
  margin-bottom: 49px;

  @media (--middle-vp) {
    margin-bottom: 147px;
  }

  @media (--wide-vp) {
    margin-bottom: 126px;
  }
}

.process__title {
  font-size: var(--title-size);
  line-height: 40px;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;

  @media (--not-small-vp) {
    font-size: var(--title-big-size);
    line-height: 1;
    margin-bottom: 72px;
  }
}

.process__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (--middle-vp) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 134px 60px;
  }

  @media (--wide-vp) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 80px;
  }
}

.process__item {
  @media (--not-small-vp) {
    position: relative;
    margin-bottom: 0;

    &--number::before {
      position: absolute;
      top: -40px;
      right: 77px;
      font-family: var(--accent-font);
      font-size: 280px;
      line-height: 1;
      color: var(--accent-bg-color);

      @media (--wide-vp) {
        right: 0;
      }
    }

    &--number_one::before {
      content: "1";
      right: 95px;
    }

    &--number_two::before {
      content: "2";
    }

    &--number_three::before {
      content: "3";
    }

    &--number_four::before {
      content: "4";
    }
  }
}

.process__item:not(:last-child) {
  @media (--small-vp) {
    margin-bottom: 20px;
  }
}

.process__description {
  min-height: 60px;
  padding-left: 81px;
  margin: 0;
  position: relative;

  @media (--not-small-vp) {
    font-size: var(--description-size-large);
    line-height: 24px;
    padding: 111px 0 0 0;
    max-width: 245px;
  }

  @media (--wide-vp) {
    max-width: 100%;
  }
}

.process__description--icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background: var(--main-bg-color) var(--bg-icon) no-repeat center;
  background-size: 40px 40px;

  @media (--not-small-vp) {
    width: 80px;
    height: 80px;
  }
}

.process__description--icon_leaf::before {
  --bg-icon: url("../../icons/sprite.svg#leaf");
}

.process__description--icon_powder::before {
  --bg-icon: url("../../icons/sprite.svg#powder");
}

.process__description--icon_tableware::before {
  --bg-icon: url("../../icons/sprite.svg#tableware");
}

.process__description--icon_alarm::before {
  --bg-icon: url("../../icons/sprite.svg#alarm");
}
