.questionnaire__title {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: var(--title-size);
  line-height: 36px;
  padding: 0;
  margin: 0;
  margin-bottom: 37px;
}

.questionnaire__description {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: var(--description-size);
  line-height: 18px;
  padding: 0;
  margin: 0;
  margin-bottom: 39px;
  text-transform: uppercase;
}
