.questionnaire__chapter {
  margin-bottom: 32px;
}

.questionnaire__title {
  font-size: var(--title-size);
  line-height: 1;
  padding: 27px 0 0;
  margin: 0;
  margin-bottom: 37px;

  @media (--not-small-vp) {
    font-size: var(--title-big-size);
    margin-bottom: 54px;
  }

  @media (--wide-vp) {
    margin-bottom: 56px;
  }
}

.questionnaire__description {
  font-family: var(--accent-font);
  color: var(--accent-text-color);
  text-transform: uppercase;
  margin: 0 0 39px;

  @media (--not-small-vp) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }
}
