.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0 8px 0 0;
  margin: 0;
  position: relative;

  @media (--small-vp) {
    margin-bottom: 43px;

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: #d9d9d9;
    }

    &::before {
      top: -22px;
    }

    &::after {
      bottom: -22px;
    }
  }

  @media (--not-small-vp) {
    padding-right: 18px;
  }
}

.social-list__item:not(:last-child) {
  margin-right: 34px;

  @media (--not-small-vp) {
    margin-right: 25px;
  }
}

.social-list__link {
  display: flex;
  text-decoration: none;
}

.social-list__link--icon::before {
  content: "";
  background-color: #666666;
  mask: var(--icon) no-repeat center / cover;
}

.social-list__link--icon:hover::before {
  background-color: var(--main-bg-color);
}

.social-list__link--icon:active::before {
  background-color: var(--main-bg-color);
  opacity: 0.3;
}

.social-list__link--vkontakte::before {
  --icon: url("../../icons/sprite.svg#vkontakte");
  width: 25px;
  height: 16px;

  @media (--not-small-vp) {
    width: 34px;
    height: 28px;
  }
}

.social-list__link--instagram::before {
  --icon: url("../../icons/sprite.svg#instagram");
  width: 18px;
  height: 18px;

  @media (--not-small-vp) {
    width: 25px;
    height: 25px;
  }
}

.social-list__link--facebook::before {
  --icon: url("../../icons/sprite.svg#facebook");
  width: 18px;
  height: 20px;

  @media (--not-small-vp) {
    width: 20px;
    height: 30px;
  }
}

.social-list__icon {
  @media (--not-small-vp) {
    width: 29px;
    height: 34px;
  }
}
