:root {
  --main-text-color: #444444;
  --accent-text-color: #000000;
  --additional-text-color: #222222;
  --action-color: #ffffff;

  --main-bg-color: #68b738;
  --accent-bg-color: #f2f2f2;
  --border-color: #cdcdcd;
}
