<header class="header">
  <div class="page__centerer">
    <div class="header__wrapper">
      <a class="header-logo" href="index.html">
        <picture>
          <source media="(min-width: 1280px)" srcset="./img/logo.svg#logo-l">
          <source media="(min-width: 768px)" srcset="./img/logo.svg#logo-m">
          <img class="header-logo__img" src="./img/logo.svg#logo-s" width="34" height="38" alt="Логотип компании.">
        </picture>
        <svg class="header-logo__another-text" width="102" height="19">
          <use href="./img/logo.svg#logo-text" />
        </svg>

      </a>

      <nav class="main-nav main-nav--closed main-nav--nojs {% if permalink == "index.html" %}
      main-nav--color_reshuffle{% endif %}">
        <button class="main-nav__toggle" type="button">
          <svg class="main-nav__svg-open" width="24" height="18" aria-label="Открыть меню">
            <use xlink:href="#burger"></use>
          </svg>
          <svg class="main-nav__svg-close" width="20" height="20" aria-label="Закрыть меню">
            <use xlink:href="#cross"></use>
          </svg>
        </button>
        <div class="main-nav__wrapper">
          <ul class="main-nav__list">
            {% for page in pages %}
              <li class="main-nav__item">
                <a
                  class="main-nav__link"
                  href="{{ page.path }}"
                  {% if permalink == page.path %}
                    aria-current="page"
                  {% endif %}
                >{{ page.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
