<header class="header">
  <div class="page__centerer">
    <div class="header__wrapper">
      <a class="header-logo" href="index.html">
        <picture>
          <source media="(min-width: 1280px)" srcset="./img/logo.svg#logo-l">
          <source media="(min-width: 768px)" srcset="./img/logo.svg#logo-m">
          <img class="header-logo__img" src="./img/logo.svg#logo-s" width="34" height="38" alt="Логотип компании.">
        </picture>
        <svg class="header-logo__text" role="img" aria-label="Логотип компании Cat Energy." width="101" height="19">
          <use aria-hidden="true" href="./img/logo.svg#logo-text" />
        </svg>
      </a>

      <nav class="main-nav main-nav--opened main-nav--nojs {% if permalink == "index.html" %}
      main-nav--color_reshuffle{% endif %}">
        <button class="main-nav__toggle" type="button">
          <span class="visually-hidden">Переключить отображение навигации</span>
        </button>
          <ul class="main-nav__list">
            {% for page in pages %}
              <li class="main-nav__item" class="footer {% if permalink == "index.html" %}
                footer--location_bg{% endif %}">
                <a
                  class="main-nav__link"
                  href="{{ page.path }}"
                  {% if permalink == page.path %}
                    aria-current="page"
                  {% endif %}
                >{{ page.name }}</a>
              </li>
            {% endfor %}
          </ul>
      </nav>
    </div>
  </div>
</header>
