<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ pages[pageId].name }} | Кэт энерджи | HTML Academy</title>
  <link rel="stylesheet" href="./css/style.min.css">
  <link rel="manifest" href="manifest.webmanifest">
  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="icon" href="/favicons/32.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/favicons/apple.png">
  <script src="./js/script.min.js" defer></script>
</head>
