<header class="header">
  <div class="header__chapter">
    <div class="page__centerer page__centerer--nav-menu_position">
      <a class="header-logo" hidden href="index.html">
        <svg class="header-logo__img" width="34" height="38"><use></use></svg>
        <svg class="header-logo__name" width="101" height="18"><use></use></svg>
      </a>
    </div>
    <div class="page__centerer page__centerer--nav-menu_mob-position">
      <nav class="main-nav main-nav--closed main-nav--nojs {% if permalink == "index.html" %}
      main-nav--color_reshuffle{% endif %}">
        <button class="main-nav__toggle" type="button">
          <span class="visually-hidden">Открыть меню</span>
        </button>
        <div class="main-nav__wrapper">
          <ul class="main-nav__list">
            {% for page in pages %}
              <li class="main-nav__item">
                <a
                  class="main-nav__link"
                  href="{{ page.path }}"
                  {% if permalink == page.path %}
                    aria-current="page"
                  {% endif %}
                >{{ page.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
