{% set pageId = 1 %}
{% set permalink = pages[pageId].path %}
{% import "./templates/macros.twig" as macros %}

<!DOCTYPE html>
<html class="page" lang="ru">
{% include "./templates/head.twig" %}

<body class="page__body">
  {% include "./templates/header.twig" %}

  <main class="main-inner">
    <div class="page__centerer">
      <h1 class="visually-hidden">Каталог продукции для котов</h1>
      <h2 class="main-inner__title title">Каталог продукции</h2>
      <section class="catalog">
        <h3 class="visually-hidden">Продукция интернет-магазина Cat Energy</h3>
        <table class="catalog__table">
          <tbody class="table">
            <tr class="visually-hidden">
              <th class="table__title" scope="col">Название</th>
              <th class="table__title" scope="col">Масса</th>
              <th class="table__title" scope="col">Вкус</th>
              <th class="table__title" scope="col">Цена</th>
              <th class="table__title" scope="col">Фото</th>
              <th class="table__title" scope="col">Заказать</th>
            </tr>
            <tr class="table__line">
              <th class="table__title" scope="row">
                <a class="table__link" href="description-product.html">Cat energy pro 500 г</a>
              </th>
              <td class="table__cell table__cell-mass">500 г</td>
              <td class="table__cell table__cell-taste">Курица</td>
              <td class="table__cell table__cell-price">700 Р.</td>
              <td class="table__cell table__image">
                <a class="table__image-link" href="description-product.html">
                  {{ macros.picture("catalog__img", "hen-500", "png", "./img/products/", "Cat Energy Pro со вкусом курицы 500 г.", "68", "108") }}
                </a>
              </td>
              <td class="table__cell table__button">
                <a class="button catalog__button" href="checkout.html">Заказать</a>
              </td>
            </tr>
            <tr class="table__line">
              <th class="table__title" scope="row"><a class="table__link" href="description-product.html">Cat energy pro 1000 г</a></th>
              <td class="table__cell table__cell-mass">1000 г</td>
              <td class="table__cell table__cell-taste">Курица</td>
              <td class="table__cell table__cell-price">1000 Р.</td>
              <td class="table__cell table__image">
                <a class="table__image-link" href="description-product.html">
                  {{ macros.picture("catalog__img", "hen-1000", "png", "./img/products/", "Cat Energy Pro со вкусом курицы 1000 г.", "84", "108") }}
                </a>
              </td>
              <td class="table__cell table__button">
                <a class="button catalog__button" href="checkout.html">Заказать</a>
              </td>
            </tr>
            <tr class="table__line">
              <th class="table__title" scope="row"><a class="table__link" href="description-product.html">Cat energy pro 500 г</a></th>
              <td class="table__cell table__cell-mass">500 г</td>
              <td class="table__cell table__cell-taste">Рыба</td>
              <td class="table__cell table__cell-price">700 Р.</td>
              <td class="table__cell table__image">
                <a class="table__image-link" href="description-product.html">
                  {{ macros.picture("catalog__img", "fish-500", "png", "./img/products/", "Cat Energy Pro со вкусом рыбы 500 г.", "68", "108") }}
                </a>
              </td>
              <td class="table__cell table__button">
                <a class="button catalog__button" href="checkout.html">Заказать</a>
              </td>
            </tr>
            <tr class="table__line">
              <th class="table__title" scope="row"><a class="table__link" href="description-product.html">Cat energy pro 1000 г</a></th>
              <td class="table__cell table__cell-mass">1000 г</td>
              <td class="table__cell table__cell-taste">Рыба</td>
              <td class="table__cell table__cell-price">1000 Р.</td>
              <td class="table__cell table__image">
                <a class="table__image-link" href="description-product.html">
                  {{ macros.picture("catalog__img", "fish-1000", "png", "./img/products/", "Cat Energy Pro со вкусом рыбы 1000 г.", "84", "108") }}
                </a>
              </td>
              <td class="table__cell table__button">
                <a class="button catalog__button" href="checkout.html">Заказать</a>
              </td>
            </tr>
            <tr class="table__line">
              <th class="table__title" scope="row"><a class="table__link" href="description-product.html">Cat energy slim 500 г</a></th>
              <td class="table__cell table__cell-mass">500 г</td>
              <td class="table__cell table__cell-taste">Гречка</td>
              <td class="table__cell table__cell-price">400 Р.</td>
              <td class="table__cell table__image">
                <a class="table__image-link" href="description-product.html">
                  {{ macros.picture("catalog__img", "buckwheat-500", "png", "./img/products/", "Cat Energy Slim со вкусом гречки 500 г.", "68", "108") }}
                </a>
              </td>
              <td class="table__cell table__button">
                <a class="button catalog__button" href="checkout.html">Заказать</a>
              </td>
            </tr>
            <tr class="table__line">
              <th class="table__title" scope="row"><a class="table__link" href="description-product.html">Cat energy slim 1000 г</a></th>
              <td class="table__cell table__cell-mass">1000 г</td>
              <td class="table__cell table__cell-taste">Гречка</td>
              <td class="table__cell table__cell-price">700 Р.</td>
              <td class="table__cell table__image">
                <a class="table__image-link" href="description-product.html">
                  {{ macros.picture("catalog__img", "buckwheat-1000", "png", "./img/products/", "Cat Energy Slim со вкусом гречки 1000 г.", "84", "108") }}
                </a>
              </td>
              <td class="table__cell table__button">
                <a class="button catalog__button" href="checkout.html">Заказать</a>
              </td>
            </tr>
            <tr class="table__line">
              <th class="table__title" scope="row"><a class="table__link" href="description-product.html">Cat energy slim 500 г</a></th>
              <td class="table__cell table__cell-mass">500 г</td>
              <td class="table__cell table__cell-taste">Рис</td>
              <td class="table__cell table__cell-price">500 Р.</td>
              <td class="table__cell table__image">
                <a class="table__image-link" href="description-product.html">
                  {{ macros.picture("catalog__img", "rice-500", "png", "./img/products/", "Cat Energy Slim со вкусом риса 500 г.", "68", "108") }}
                </a>
              </td>
              <td class="table__cell table__button">
                <a class="button catalog__button" href="checkout.html">Заказать</a>
              </td>
            </tr>
            <tr class="table__line table__line--show_more">
              <td class="table__title table__title--title_position" colspan="6">
                <a class="table__link table__link--show_position" href="description-product.html">Показать еще 100500 товаров</a>
                <p class="table__cell table__cell--text_position">На самом деле вкусов гораздо больше!</p>
                <a class="button button--show-all_color catalog__button" href="all-products.html">Показать все</a>
              </td>
            </tr>
          </tbody>
        </table>
      </section>

      <section class="add-goods">
        <h3 class="add-goods__title title">Дополнительные товары</h3>
        <div class="add-goods__wrapper">
          <table class="add-goods__table add-table description">
            <tr class="visually-hidden">
              <th class="add-table__title" scope="col">Название</th>
              <th class="add-table__cell" scope="col">Количество</th>
              <th class="add-table__cell" scope="col">Цена</th>
              <th class="add-table__cell" scope="col">Заказать</th>
            </tr>
            <tr class="add-table__line">
              <th class="add-table__title" scope="row">Сахарозаменитель</th>
              <td class="add-table__cell add-table__cell--volume">1 упаковка (100 г)</td>
              <td class="add-table__cell add-table__cell--priсe">200 Р.</td>
              <td class="add-table__cell add-table__button">
                <a class="button add-goods__button" href="checkout.html">Заказать</a>
              </td>
            </tr>
            <tr class="add-table__line">
              <th class="add-table__title" scope="row">Питьевая вода</th>
              <td class="add-table__cell add-table__cell--volume">5 литров</td>
              <td class="add-table__cell add-table__cell--priсe">50 Р.</td>
              <td class="add-table__cell add-table__button">
                <a class="button add-goods__button" href="checkout.html">Заказать</a>
              </td>
            </tr>
            <tr class="add-table__line">
              <th class="add-table__title" scope="row">Молоко</th>
              <td class="add-table__cell add-table__cell--volume">1 литр</td>
              <td class="add-table__cell add-table__cell--priсe">100 Р.</td>
              <td class="add-table__cell add-table__button">
                <a class="button add-goods__button" href="checkout.html">Заказать</a>
              </td>
            </tr>
            <tr class="add-table__line">
              <th class="add-table__title" scope="row">Витамины</th>
              <td class="add-table__cell add-table__cell--volume">1 упаковка (30 г)</td>
              <td class="add-table__cell add-table__cell--priсe">300 Р.</td>
              <td class="add-table__cell add-table__button">
                <a class="button add-goods__button" href="checkout.html">Заказать</a>
              </td>
            </tr>
          </table>

          <aside class="present">
            <div class="present__chapter">
              <p class="present__text">Закажите все <br>и получите чехол для кота в подарок!</p>
            </div>
          </aside>
        </div>
      </section>
    </div>
  </main>

  {% include "./templates/footer.twig" %}
</body>
